-- Fix query limit default value
ALTER TABLE public.user_profiles 
ALTER COLUMN query_limit SET DEFAULT 3;

-- Update existing free users to have 3 queries
UPDATE public.user_profiles 
SET query_limit = 3 
WHERE subscription_tier = 'free' AND query_limit = 1000;
